
// Colors

$nightblue: #12131a;
$violetvine: #463249;
$yellowsun: #F9F871;
$whitebaby: #D2766A;

// Typographie DM Sans

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

body {
  background: $nightblue;
  box-sizing: border-box;
  font-family: DM Sans;
}

* {
  margin: 0;
  padding: 0;
}
