// Colors

$nightblue: #12131a;
$violetvine: #562f5c;
$yellowsun: #f9f871;
$whitebaby: #eedfdd;

// Typographie DM Sans

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

body {
  background: $nightblue;
  box-sizing: border-box;
  font-family: DM Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px;
  color: $nightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
