header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
        text-transform: capitalize;

        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 0.5rem;
      }
      
    }
    img{
        width: 30px;
        height: 30px;
    }
}