header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
        text-transform: capitalize;
        font-size: 1.5rem;
        @media screen and (max-width: 545px) {
          font-size: 0.7rem;
      
        }
    }
    img{
        width: 15%;
        aspect-ratio: 4/3;
        object-fit: contain;
        mix-blend-mode: color-burn;

    }
}