.music-band {
  .card__time {
    width: 100%;
    color: #b1b1b1;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    input {
      width: 100%;
    }

    .card__time_info{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      .card__time_end{
        margin-left: auto;
      }
    }
  }
  position: relative;
  margin: 0 auto;
  width: 92.5%;
}
