nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  
  .settings {
    display: flex;
    justify-content: end;
    img {
      width: 25%;
      aspect-ratio: 4/3;
      object-fit: contain;
      mix-blend-mode: color-burn;

    }
  }
}
